[defaults]
host_key_checking = False
deprecation_warnings = False
interpreter_python = auto_silent
callbacks_enabled = counter_enabled

[ssh_connection]
ssh_args = -o ControlMaster=no -o ControlPersist=no
